---
layout: blank
---

<!DOCTYPE html>
<html>
<head>

	<title>iOS &amp; Mac Development - Jeffrey Bergier</title>
  {% include head.html %}

  </head>
  <body>

    {% include header_cocoa.html %}

		<!-- Jumbotron Masthead -->
		<div class="jumbotron gratuity">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-md-4">
						<img src="cocoaassets/gratuityicon.png" class="img-responsive-scale">
					</div>
					<div class="col-xs-12 col-sm-11 col-md-8">
						<h1 class="left">Gratuity</h1>
						<h2 class="left">The Simple Tip Calculator</h2>
						<p class="left">Gratuity for Apple Watch and iOS makes getting a tip at a restaurant quick and easy. Gratuity for iOS is the most beautiful and the most interactive tip calculator you have used. Gratuity for Apple Watch means you can calculate restaurant tips without even taking your phone out of your pocket.<br>
							<a href="https://itunes.apple.com/app/id933679671" target="_blank" style="a.a">View Gratuity on the App Store</a>&nbsp;&nbsp;<a href="https://itunes.apple.com/app/id933679671" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></p>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-4">
					<video class="cartwheel" poster="cocoaassets/cartwheelvideoplaceholder.png" autoplay loop>
						<source src="cocoaassets/cartwheelvideo.mp4" type="video/mp4" >
							Unfortunately, your browser does not support the video tag. <a href="cocoaassets/cartwheelvideo.mp4">Click to download the video.</a>
					</video>
				</div>
				<div class="col-sm-8 col-md-8">
					<h1 class="left">Cartwheel</h1>
					<h2 class="left">Open Source Carthage GUI</h2>
					<p>After building a couple of iOS apps I really wanted to learn how to build Mac apps. After seeing a presentation on Carthage from one of its creators, I knew that this would be a great project to work on. Carthage is a dependency manager for Xcode projects. The original creators only built a command line interface. I decided to tackle building a GUI front end for Carthage. Its basic, but it contains a list of Xcode projects and an update button to download and build the newest dependencies for that project.</p>
					<p><a href="https://github.com/jeffreybergier/cartwheel" target="_blank">View Cartwheel on Github</a>&nbsp;&nbsp;<a href="https://github.com/jeffreybergier/cartwheel" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4">
					<p class="left"><a href="productdesign.html" class="btn btn-info btn-lg">Continue to Student Projects</a></p><br>
				</div>
			</div>
		</div>

    {% include footer.html %}

  </body>
</html>