---
layout: blank
---

<!DOCTYPE html>
<html>
  <head>

    <title>Student Projects - Jeffrey Bergier</title>
    {% include head.html %}

  </head>
  <body>

    {% include header_productdesign.html %}

    <!-- Jumbotron Masthead -->
    <div class="jumbotron white">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-4">
                <img src="pdassets/weather-06-1k.png" class="img-responsive-scale">
            </div>
            <div class="col-xs-12 col-sm-11 col-md-8">
                <h1 class="left">WeatherMe</h1>
                <p class="left">A mobile application concept to help San Franciscans find more sunshine. This was the final project for my Industrial Design degree. It is a research and development project. The end result is a stunning design process book. This concept was also a Finalist in the <a href="http://fasttrackapp.core77.com" target="_blank">Core77 Fast Track Mobile App contest.</a></p>
                <p class="left"><a href="weather.html" class="btn btn-default">See more about this project</a></p>
            </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h1>More Projects</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a href="penpot.html"><h3>Design for Manufacture</h3>
                <img src="pdassets/penpot-300.png" class="img-responsive-scale"></a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="ikb.html"><h3>Intelligent Kitchen</h3>
                <img src="pdassets/ikb-brand-300.png" class="img-responsive-scale"></a>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-sm-6 col-md-4">
                <a href="lighting.html"><h3>Architectural Lighting</h3>
                <img src="pdassets/lighting-06-300.png" class="img-responsive-scale"></a>
            </div>
            <div class="clearfix visible-md visible-lg"></div>
            <div class="col-sm-6 col-md-4">
                <a href="electronics.html"><h3>Electronics</h3>
                <img src="pdassets/electronics-01-300.png" class="img-responsive-scale"></a>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-sm-6 col-md-4">
                <a href="redacted.html"><h3>&#91;REDACTED&#93; Project</h3>
                <img src="pdassets/redacted-01-300.png" class="img-responsive-scale"></a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="surface.html"><h3>Surface Modeling</h3>
                <img src="pdassets/mouse-300.png" class="img-responsive-scale"></a>
            </div>
            <div class="clearfix visible-sm visible-md visible-lg"></div>
            <div class="col-sm-6 col-md-4">
                <a href="workshop.html"><h3>Workshop Experience</h3>
                <img src="pdassets/workshop-tea3-300.png" class="img-responsive-scale"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3><a href="resume.html" class="btn btn-info btn-lg">Continue to R&eacute;sum&eacute;</a></h3><br>
            </div>
        </div>
    </div>

    {% include footer.html %}

  </body>
</html>