---
layout: blank
---

<!DOCTYPE html>
<html>
  <head>

    <title>Surface Modeling - Jeffrey Bergier</title>
    {% include head.html %}

  </head>
  <body>

    {% include header_productdesign.html %}

    <!-- Jumbotron Masthead -->
    <div class="jumbotron surface">
      <div class="container">
        <!-- <h1>Surface Modeling</h1> -->
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h1>Surface Modeling</h1>
                <p>This is an example of surface modeling in Alias Studio. I modeled the shape and contour of the Microsoft Surface Mouse. After modeling the object I rendered it with simple lighting in a simple scene. There are process samples below.</p>
                <h3><a href="pdassets/surface-document-jbergier.pdf" class="btn btn-default">Download Process Book</a></h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <a href="pdassets/surface-screenshot-01-1k.png" class="boxer" rel="penpot"><img src="pdassets/surface-screenshot-01-300.png" class="img-responsive-scale"></a>
                <p>&nbsp;</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <a href="pdassets/surface-screenshot-02-1k.png" class="boxer" rel="penpot"><img src="pdassets/surface-screenshot-02-300.png" class="img-responsive-scale"></a>
                <p>&nbsp;</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <a href="pdassets/surface-screenshot-03-1k.png" class="boxer" rel="penpot"><img src="pdassets/surface-screenshot-03-300.png" class="img-responsive-scale"></a>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>

    {% include footer.html %}

  </body>
</html>