---
layout: blank
---

<!DOCTYPE html>
<html>
  <head>

    <title>Professional Experience - Jeffrey Bergier</title>
    {% include head.html %}

  </head>
  <body>

    {% include header_ux.html %}

    <!-- Jumbotron Masthead -->
    <div class="jumbotron white">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-4">
                <img src="uxassets/riverbed-bw-2k.png" class="img-responsive-scale">
              </div>
              <div class="col-xs-12 col-sm-11 col-md-8">
                <h1 class="left">UX Designer</h1>
				<h2 class="left">Riverbed</h2>
                <h3 class="left">January 2013 &#8211; Present</h3>
                <p class="left">When I started at Riverbed, there was no UX team at all. My coworker and I crept our way into every part of the engineering organization and proved the value of UX to the company. Since then, an entire UX team has formed and we are making incredible changes and improvements with the products at Riverbed.</p>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-4">
                <img src="uxassets/mobilebridge-bw-300.png" class="img-responsive-scale">
              </div>
              <div class="col-xs-12 col-sm-11 col-md-8">
                <h1 class="left">Organizer &amp; Teacher</h1>
				<h2 class="left">MobileBridge</h2>
                <h3 class="left">March 2014 &#8211; Present</h3>
                <p class="left">I am a passionate self-taught iOS &amp; Mac Developer. I enjoy developing the iOS curriculum, helping to organize workshops and especially teaching for MobileBridge/BridgeFoundry. Because we focus on empowering underserved communities in tech, the students are always eager and wanting to learn. Working with the entire BridgeFoundry community has been an incredibly rewarding experience.</p>
              </div>
          </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 hidden-xs hidden-sm">
                <h1 class="left">Previous Experience</h1>
            </div>
            <div class="col-xs-12 hidden-md hidden-lg">
                <h1>Previous Experience</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <img src="uxassets/woopra-300.png" class="img-responsive-scale">
            </div>
            <div class="col-sm-8 col-md-8">
                <h1 class="left">UX Designer</h1>
                <h2 class="left">January 2012 &#8211; January 2013</h2>
                <p>Fast paced UX work in a small startup environment. In addition to design responsibilities, I also handled support tickets, bug reports, and other office management duties. My work involved direct interaction with front-end and backend engineers, marketing and sales people as well as the company's founder, to make sure user needs were properly addressed.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <img src="uxassets/apple-1k.png" class="img-responsive-scale">
            </div>
            <div class="col-sm-8 col-md-8">
                <h1 class="left">Genius</h1>
                <h2 class="left">November 2007 &#8211; June 2009</h2>
                <p>This was the ideal job while earning my Industrial Design degree. I worked full time for Apple and went to school full time. I witnessed the slow evolution of Apple's industrial design by working inside most generations of most of Apple's products. The refinement of internal components over time proved to me that everything can and should be improved, even if zero customers will ever see it.
<br><br>
The other major aspect of this position was helping to teach users how to use and troubleshoot their computers. I developed a strong empathetic &#8220;core&#8221; while working with Genius Bar customers. I had always grown up with Computers and they were always easy for me to learn. As a genius, I realized that, not only is that not true for most people, but that most computer usage paradigms are arbitrary. This makes them hard to teach and hard to learn. I bring this sense of empathy with me wherever I go.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4">
                <p class="left"><a href="cocoa.html" class="btn btn-info btn-lg">Continue to iOS &amp; Mac Development</a></p><br>
            </div>
        </div>
    </div>

    {% include footer.html %}

  </body>
</html>