---
layout: blank
---

<!DOCTYPE html>
<html>
  <head>

    <title>Workshop Experience - Jeffrey Bergier</title>

    {% include head.html %}

  </head>
  <body>

    {% include header_productdesign.html %}

    <!-- Jumbotron Masthead -->
    <div class="jumbotron workshop">
      <div class="container">
        <!-- <h1>Surface Modeling</h1> -->
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h1>Workshop Experience</h1>
                <p>My workshop experience includes basic woodworking, metal machining and metal fabrication. Woodworking experience includes basic joinery and lathing. Metal machining experience includes lathing, knurling, milling and tap and die processes. Metal fabrication experience includes sheet metal forming and silver soldering.</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <a href="pdassets/workshop-tb2-1k.png" class="boxer" rel="penpot"><img src="pdassets/workshop-tb2-300.png" class="img-responsive-scale"></a>
                <p>&nbsp;</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <a href="pdassets/workshop-tb3-1k.png" class="boxer" rel="penpot"><img src="pdassets/workshop-tb3-300.png" class="img-responsive-scale"></a>
                <p>&nbsp;</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <a href="pdassets/workshop-table2-1k.png" class="boxer" rel="penpot"><img src="pdassets/workshop-table2-300.png" class="img-responsive-scale"></a>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <a href="pdassets/workshop-table1-1k.png" class="boxer" rel="penpot"><img src="pdassets/workshop-table1-300.png" class="img-responsive-scale"></a>
                <p>&nbsp;</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <a href="pdassets/workshop-tea1-1k.png" class="boxer" rel="penpot"><img src="pdassets/workshop-tea1-300.png" class="img-responsive-scale"></a>
                <p>&nbsp;</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <a href="pdassets/workshop-tea2-1k.png" class="boxer" rel="penpot"><img src="pdassets/workshop-tea2-300.png" class="img-responsive-scale"></a>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>

        {% include footer.html %}

  </body>
</html>