		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index.html">Jeffrey Bergier</a>
			</div>
    
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{{ "/index.html" | prepend: site.baseurl }}">About</a></li>
					<li><a href="{{ "/ux.html" | prepend: site.baseurl }}">Professional Experience</a></li>
					<li><a href="{{ "/cocoa.html" | prepend: site.baseurl }}">iOS &amp; Mac Development</a></li>
					<li><a href="{{ "/productdesign.html" | prepend: site.baseurl }}">Student Projects</a></li>
					<li><a href="{{ "/resume.html" | prepend: site.baseurl }}">R&eacute;sum&eacute;</a></li>
					<li class="active"><a href="{{ "/blog.html" | prepend: site.baseurl }}">Blog</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
